:root {
    --color-primario: #3498db;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.2rem;
}

header p {
    margin-left: 10rem;

}

.espaciado {
    max-width: 70%;
    margin: auto;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

li {
    position: relative;
    width: 10rem;
    text-decoration: none;
    list-style: none;
}


a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 20vw;

}

.submenu-item:hover .submenu {
    display: block;
}

.logo {
    position: fixed;
    top: 0;
    left: 2.5rem;
    width: 6rem;
    height: 12.1rem;
    background-color: #6d2841;
    clip-path: polygon(0 0, 100% 0%, 100% 74%, 50% 100%, 0 74%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    margin-right: 90px;
}

.logo-img {
    position: relative;
    top: -10%;
    left: 0;
    width: 75%;
}

main {
    flex: 1;
}

.footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-logo {
    max-width: 20rem;
}


.socialmedia {
    display: inline;
    text-decoration: none;
    border: 2px solid #ffffff;
    border-radius: 100%;
    color: #ffffff;

}

.icon:hover {
    border: 2px solid #000;
    stroke: black;
}


.icon {
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #ffffff;
}


.icon:hover svg {
    stroke: #000;
    /* Cambia este color según tus preferencias */
}

.gradiente {
    background: rgb(88, 32, 53);
    background: linear-gradient(90deg, rgba(88, 32, 53, 1) 0%, rgba(228, 82, 136, 1) 91%, rgba(190, 122, 146, 1) 100%);
    color: #fff;
}

.subpestania {
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 15px 0;
}

.pestania {
    width: 20vw;
    padding: 0.65rem 0;
}

.pestania:hover {
    background-color: rgba(0, 0, 0, 1);
}

.subpestania:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

a.logo:hover {
    background-color: #000;
}



.slider {
    width: 100%;
    /* 100% del ancho de la ventana */
    height: 70vh;
    overflow: hidden;
    /* Para recortar cualquier parte de la imagen que esté fuera del contenedor */
    position: relative;
    /* Para posicionar correctamente la imagen dentro del contenedor */
}

.slider-item img {
    width: 100%;
    /* La imagen ocupa el 100% del ancho del contenedor */
    height: 100%;
    /* La imagen ocupa el 100% de la altura del contenedor */
    object-fit: cover;
    /* La imagen se ajusta para cubrir todo el contenedor sin distorsión */
    position: absolute;
    /* Para posicionar la imagen en relación con el contenedor */
    top: 0;
    left: 0;
}

/* La regla .fade se aplica a elementos con la clase 'fade' */
.fade {
    /* Se especifica la animación llamada 'fade', con una duración de 1.9 segundos,
       una función de temporización 'ease-in-out' (inicio y final suaves),
       y se repite infinitamente */
    animation: fade 1.9s ease-in-out infinite;
}

/* Definición de la animación llamada 'fade' mediante keyframes */
@keyframes fade {

    /* Definición del estado inicial del keyframe:
       la opacidad comienza en 0.7 (70%) */
    from {
        opacity: 0.7;
    }

    /* Definición del estado final del keyframe:
       la opacidad llega a 1 (100%) */
    to {
        opacity: 1;
    }
}

/*
@keyframes nombreDeLaAnimacion {
     Definición de estados intermedios 
    from {
      Estilos del estado inicial 
    }
  
    to {
      Estilos del estado final 
    }
}
*/


.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 400px;
    margin: 20px;
}

.card-clean {
    border-radius: 8px;
    overflow: hidden;
    width: 400px;
    margin: 20px;
}

.card-clean>.card-header,
.card-clean>.card-footer {
    background-color: initial;
    /* Elimina el color de fondo */
}

.card-header,
.card-footer {
    padding: 15px;
    background-color: #f5f5f5;
    text-align: center;
}

.card-body {
    text-align: center;
    padding: 10px;
}

.linea {
    display: inline-flex;
}



.card-img {
    width: 50px;
    height: 50px;
}

.card-footer > img{
    width: 100%;
}


#registrar {
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.cont{
    padding: 1vw;
    width: 30vw;
}



input,
textarea,
select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}



button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}

button.eliminar{
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr); /* Tres columnas de igual ancho */
    gap: 20px; /* Espacio entre las cajas */
  }
  
  .galeria-item {
    /* Estilos de cada elemento dentro del grid */
    padding: 10px;
    text-align: center;
    margin: auto;
  }
  .video{
    width: 100%;
    height: 60vh;
  }


  .banner {
    position: relative;
  }
 
  
  .centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Ajusta la posición según sea necesario para centrar la imagen */
  }

  .msg {
    margin-top: 30px;
    width: 100%;
    height: 20px; /* Ajusté la altura para dar más espacio al mensaje */
    background-color: #7dc47f; /* Utilicé un tono diferente de azul */
    padding: 5px; /* Aumenté el espacio interno para que se vea más espaciado */
    border-radius: 5px; /* Agregué esquinas redondeadas */
  }
  
  .msg h3 {
    
    color: #fff;
    margin: 0; /* Eliminé el margen predeterminado del h3 para un aspecto más limpio */
    font-size: 18px; /* Aumenté el tamaño de la fuente */
    text-align: center; /* Centré el texto dentro del div */
  }
  