body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Asegura que el contenido se extienda al menos al 100% de la altura de la ventana */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

li {
    position: relative;
    margin: 0;
    border: none;
}

a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #444;
}

.submenu-item:hover .submenu {
    display: block;
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 250px;
    background-color: #333333;
    clip-path: polygon(0 0, 100% 0%, 100% 74%, 50% 100%, 0 74%);
}

.no {
    position: relative;
    display: block;
    top: 30%;
    left: 0;
    width: 100px;
    height: 100px;
}

main {
    flex: 1;
    /* Hace que el contenido principal se expanda para ocupar el espacio restante */
}

footer {
    background-color: #686666;
    color: #fff;
}

.footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-logo {
    max-width: 20rem;
    /* ajusta el ancho máximo de tu logo según sea necesario */
}

.figura {
    background-color: #333;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 48% 48%, 0 0);
}

.espaciado {
    max-width: 60%;
    /* Puedes ajustar este valor según tus necesidades */
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    /* Espaciado izquierdo */
    padding-right: 15px;
    /* Espaciado derecho */
    box-sizing: border-box;
    /* Evita que el padding afecte el ancho total */
}

.socialmedia {
    display: inline;
    text-decoration: none;
    border: 2px solid #ffffff;
    border-radius: 100%;
    color: #ffffff;
    
}

.icon:hover {
    border: 2px solid #000;
    stroke: black;
}


.icon {
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #ffffff;
}


.icon:hover svg {
    stroke: #000; /* Cambia este color según tus preferencias */
}